body {
    background: lightgray;
}

.main {
    width: 1170px;
    margin: auto;
    margin-top: 80px;

    background: white;
    border-radius: 20px;
    padding: 40px;
    font-size: 1.3em;
}

.image_box{
    width: 100%;
    height: 40%;
    overflow-x:hidden;
}

.image {
    height: 100%;
    display: block;
    margin: auto;
}

.text {
    text-align: center;
    padding: 20px;
    height: 150px;
}

.tile {
    width: 329px;
    height: 530px;
    margin: 15px;
    border: 2px brown solid;
    border-radius: 30px;
    display: inline-block;
    padding: 30px;
    background: radial-gradient(bisque, white);
}

.tile_admin {
    height: 600px;
}

.top_menu{
    width: 100%;
    padding: 20px;
    border: 2px brown solid;
    border-radius: 30px;
    background: radial-gradient(bisque, white);
}

.create{
    float: right;
    position: relative;
    top: -8px;
}

.cost {
    border: 2px brown solid;
    border-radius: 8px;
    width: 160px;
    margin: 10px 0;
    font-size: 1.5em;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: brown;
    margin-top: 0;
}

label {
    margin-bottom: 0;
}